.green:hover {
    color:#00b39b !important;
}
.main-footer {
    border-top: 1px solid #eef2f2;
    text-align: center;
    padding: 1em 0;
}
.logo{
    filter: grayscale(1);
}
.logo:hover{
    filter:grayscale(0);
}
.nav:hover{
    fill:#00b39b;
}
.part4{
    margin-bottom: 50px;
    margin-right: 20px;
    width: 292px;
}
.part4:hover{
    box-shadow: 0px 5px 20px #B3B3B3;

}
.fix:hover{
    color: gray;
}
/* .stats__item {
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 5%);
    height: 250px;
    text-align: center;
    padding: 15px;
    font-size: .8125em;
} */
.part3div{
     background-color: #ffffff;
     margin-left: -300px;

     

  }
.border3{
    padding-bottom: 20px ;
    margin-left: -20px;
    margin-right: -20px;
    border:#dbf8f7 ; 
    border-style: solid;
    border-width: 20px;
}
.border4{
    padding-bottom: 70px;
    border:#dbf8f7 ; 
    border-style: solid;
    margin-left: -20px;
    margin-right: -20px;
    border-left-width: 20px ;
    border-right-width: 20px ;
    border-bottom-width: 30px ;
}
.border5{
    padding-bottom: 70px;
    border:#dbf8f7 ; 
    border-style: solid;
    margin-left: -20px;
    margin-right: -20px;
    border-left-width: 20px ;
    border-right-width: 20px ;
    border-bottom-width: 100px ;
}
.office__inner {
    background: #fff;
    border: 1px solid rgba(0,0,0,.03);
    border-radius: 6px;
    overflow: hidden;
    max-width: 311px;
    z-index: 2;
    position: relative;
    display: block;
    color: #747474;
    text-decoration: none;
}
.stats {
    background: #e5faf8;
    background-image: linear-gradient(
-45deg
,rgba(0,204,177,.01) 5%,rgba(61,199,223,.1));
    padding: 1.875em 0 .625em;
    overflow: hidden;
    margin: 3.125rem auto 5.5rem;
}
.picHeader {
    content: "";
    position: relative;
    left:-100px;
    top:10px; 
    width: 456px;
    height: 435px;
    pointer-events: none;
}
.svgHelper{
    width: 70%;
    height: auto;
    fill:gainsboro;
}
.svgHelper:hover{
   fill:#00b39b;
}
.brands__logos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 0;
    width: 67%;
    list-style: none;
}
.section__inner {
    zoom: 1;
    max-width: 1015px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
}

.part2div{
  border:10px;
  border-radius: 20px;
  border-style: solid;
  border-color: #ffffff;
   margin-left: 200px; 
   background-color: #00b39b
}
.part2div:hover{
    background-color: #00C9AE;
}
.part2divblue{
    border:10px;
    border-radius: 20px;
    border-style: solid;
    border-color:#ffffff;
    background-color:#3d83df;
      
}
.part2divblue:hover{
    background-color: #448BEA;
}
.part2divblack{
    border:10px;
    border-radius: 20px;
    border-style: solid;
    border-color:#ffffff;
    margin-right: 150px;
    background-color:black;
      
}
.part2divblack:hover{
    background-color: #161616;
}
.style-select select{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    background: none;
    border: 0;
    color: #fff;
    font-family: 'Roboto',Arial,sans-serif;
    font-weight: 400;
    letter-spacing: .04em;
    font-size: 1.2rem;
    text-align: center;
    padding-left: 25px;
    margin-top: 90px;
    margin-bottom: 20px;
}
.style-select2 select{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    background: none;
    border: 0;
    color: #fff;
    font-family: 'Roboto',Arial,sans-serif;
    font-weight: 400;
    letter-spacing: .04em;
    font-size: 1.2rem;
    text-align: center;
    padding-left: 25px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.part2H2{
    margin: 0;
    color:white;
    font-size: 25px;
    margin-left: 30px;
    margin-right: 30px;
    word-spacing: 2px;

}
.part2H1{
    color: white; 
    font-weight: bold;
    margin-left:  30px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 30px;
    padding-left: -20px;
    padding-right: -20px;
    /* padding-left: -20px; */
}
.part2P1{
    margin-left: 30px;
    padding-top: 25px; 
    padding-bottom: 10px;
    padding-left: -20px;
    padding-right: -20px;
}    
.flexy{
    display: flex;
    justify-content: space-between;
    
}

.navelem{
    
    font-size: .9375rem;
    font-weight: 400;
    line-height: 2em;
    padding: 1.33em 0

}
h1{
    color: #00b39b;
    font-size: 35px;
}

h1, h2, h3, h4 {
    margin: 1em 0;
    font-family: 'Work Sans',Arial,sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;

}
 body {
    font-weight: 400;
    font-family:'Roboto',Arial,sans-serif;
    color: #747474;
    -webkit-font-smoothing: antialiased;
} 
html{
    font-size: 16px;
}